<!-- Form Data with Customer information -->
<div  class="dropShadow">
  <div>
    <h3>Customer Information<mat-icon class="edit">edit</mat-icon></h3>
  </div>


  <form class="customerDetails">
    <mat-form-field>
      <mat-label>Primary ID Type</mat-label>
      <input matInput value={{primaryIDType}}>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Primary ID Number</mat-label>
      <input matInput   value= {{primaryIDNumber}}>
    </mat-form-field>

    <mat-form-field >
      <mat-label>First Name</mat-label>
      <input matInput  value= {{firstName}}>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>DOB</mat-label>
      <input matInput   value= {{dob}}>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>Gender</mat-label>
      <mat-select>
        <mat-option value="option">Option 1</mat-option>
        <mat-option value="option">Option 2</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>Email ID (Optional)</mat-label>
      <input matInput   value= {{email}}>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>Alternate Phone Number</mat-label>
      <input matInput   value= {{altPhone}}>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>State</mat-label>
      <input matInput   value= {{state}}>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>District</mat-label>
      <input matInput   value= {{district}}>
    </mat-form-field>
    <mat-form-field  >
      <mat-label>LGA</mat-label>
      <input matInput   value= {{lga}}>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>City</mat-label>
      <input matInput   value= {{city}}>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>Address line 1</mat-label>
      <input matInput   value= {{addLine1}}>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>Address line 2</mat-label>
      <input matInput   value= {{addLine2}}>
    </mat-form-field>
    
    <mat-form-field  >
      <mat-label>Address Line 3</mat-label>
      <input matInput   value= {{addLine3}}>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>Postal Code</mat-label>
      <input matInput   value= {{postal}}>
    </mat-form-field>

  </form>
</div>