mat-label {
    color: rgb(27, 209, 233);
    font-size: larger;
}

h3 {
    color:red;
    border-left: 3px solid red;
    padding: 0px 8px;
}

mat-form-field{
    padding: 10px;
}

.customerDetails {
    height: 38vh;
    overflow-y: auto;
}
      
.edit {
    color: #1A293B;
    float: right;
}