.footerCom {
    height: 7vh;
    padding-top: 1vh;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.footerBar {
    float:right;
}

.btnMargin {
    border-radius: 15px;
}

.approveBtn {
    background-color: #1A293B;
    color: whitesmoke;
}

.textColor {
    color: red;
}