.footerCom {
    height: 8vh;
    position: absoluet;
    bottom: 0;
}

.footerBar {
    float:right;
}

.btnMargin {
    border-radius: 15px;
}

.approveBtn {
    background-color: #1A293B;
    color: whitesmoke;
}

.textColor {
    color: red;
}