version: '2'
services:
  ui:
    build: ./ui
    ports:
      - '4200:4200'
    command: >
      bash -c "npm install && ng serve --host 0.0.0.0 --port 4200"
    depends_on:
      - api
  api:
    build: ./api
    ports:
      - '4000:4000'
