
<div class="wrap">
    <div class="flexfull dropShadow">
        <app-user-bar></app-user-bar>
    </div>
    <div class="lowerGrid flexfull">
        <div class="flexHalf flexParent imageComp">
            <app-image-gallery></app-image-gallery>
        </div>
        <div class="flexHalf">
            <div class="subDetailcomp">
                <app-subscription-details></app-subscription-details>
            </div>
            <div class="customerDetailcomp">
                <app-data-form></app-data-form>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <app-footer-bar></app-footer-bar>
</div>
