<div >
    <app-user-bar></app-user-bar>
    <div class="detailBar">
       <span class="subDetail">
        Subscriber Details
       </span> 
       <span class = "refresh">
        <mat-icon>refresh</mat-icon> Recent Cases
       </span>
    </div>
    <div class="positonElements" >
        <app-image-gallery></app-image-gallery>
        <div class="floatRightBar" >
            <app-subscription-details></app-subscription-details>
            <app-data-form></app-data-form>
        </div>
    </div>
    
</div>
<app-footer-bar></app-footer-bar>

