.userbar {
    padding: 10px;
    width: 70vw;
    margin: 20px 27px;
    display: inline-flex;
    justify-content: space-between;
}

.togglebar {
    width: 40px;
    padding: 5px;
}

.primary {
    background-color: #4F6271;
}

.approved {
    background-color: #00CA9C;
}

.rejected {
    background-color: #F2756F;
}

.btnSizeColor {
    height: 68px;
    width: 40px;
    color: whitesmoke;
    margin: 0px 10px;
    border-radius: 10px;
}

.timerBtn {
    background-color: #1A293B;
    color: whitesmoke;
    border-radius: 10px;
}

.mat-raised-button {
    padding: 0px!important;
}

.profileImage {
    height:50px;
    width:50px;
}