<!-- User Detail bas and Timers -->
<div class="userbar">
  <div>
    <span class="profileImage">
      <!-- <img src="./assets/profile.png"/> -->
    </span>

    <span class="displayGrid text">
      <span class="subTitle">{{username}}</span>
      <span class="subValue">{{position}}</span>
    </span>

    <button mat-raised-button class="primary btnSizeColor">
      <span class="displayGrid ">
        <span>TOTAL</span><span>{{total}}</span>
      </span>
    </button>

    <button mat-raised-button class="approved btnSizeColor">
      <span class="displayGrid ">
        <span>APPROVED</span><span>{{approved}}</span>
      </span>
    </button>

    <button mat-raised-button class="rejected btnSizeColor">
      <span class="displayGrid ">
        <span>REJECTED</span><span>{{rejected}}</span>
      </span>
    </button>
  </div>

  <!-- Timers in Dashboard -->
  <div class="">
    <button mat-raised-button class="timerBtn timerSpacing">
      <span class="displayGrid ">
        <span>Average Handling Time</span>
        <span>00:15:00</span>
      </span>
    </button>

    <span class="timerSpacing">
      <span class="text">Available </span>
      <mat-slide-toggle (changed)=resumeAvailable() id="availableTimer"></mat-slide-toggle>
      <span>{{available}}</span>
    </span>

    <span class="timerSpacing">
      <span class="text">Break</span>
      <mat-slide-toggle (changed)=resumeBreak($event) id="breakTimer"></mat-slide-toggle>
      <span>{{breakTime}}</span>
    </span>
  </div>
</div>