.userbar {
    justify-content: space-between;
    width: 70vw;
    padding: 4px 0px;
    display: flex;
}

.togglebar {
    padding: 5px;
}

.primary {
    background-color: #4F6271;
    height: 65px;
}

.approved {
    background-color: #00CA9C;
    height: 65px;
}

.rejected {
    background-color: #F2756F;
    height: 65px;
}

.btnSizeColor {
    color: whitesmoke;
    border-radius: 10px;
    margin: 0px 7px;
}

.timerBtn {
    background-color: #1A293B;
    color: whitesmoke;
    border-radius: 10px;
    height: 65px;
}

.timerSpacing {
    margin-right: 7px;
}

.mat-raised-button {
    padding: 0px!important;
}

.profileImage {
    height:50px;
    width:50px;
}