.subComponent {
    font-size:14px;
    line-height: 2;
}

.subTitle  {
    color: gray;
}

.subValue {
    color:rgb(47, 46, 46);
}

.formatGrid {
    line-height: 1.5;
    display: inline-grid;
    padding: 0px 15px;
    text-align: left !important;
}

.borderLine {
    border-right: groove;
}

h3 {
    color: rgb(27, 209, 233);
    margin: 0px 10px;
}