<div class="dropShadow subComponent">
  <h3 class="blueColor">Subscription Details</h3>
  <div class="">
    <div class="formatGrid borderLine">
      <span class="subTitle">Connection Type</span>
      <span class="subValue">Prepaid</span>
    </div>
    <div class="formatGrid borderLine">
      <span class="subTitle">Customer Type</span>
      <span class="subValue">Individual</span>
    </div>
    <div class="formatGrid">
      <span class="subTitle">New Mobile Number</span>
      <span class="subValue">9876543210</span>
    </div>
    <div class="formatGrid">
      <span class="subTitle">SIM Serial Number ( last 5 digits ) </span>
      <span class="subValue">84748</span>
    </div>
  </div>
</div>