.subComponent {
    font-size:14px;
    line-height: 2;
    padding: 5px 0px;
    text-align-last: left;
}

.formatGrid {
    line-height: 1.5;
    display: inline-grid;
    padding: 0px 15px;
    text-align: left !important;
}

.borderLine {
    border-right: groove;
}

h3 {
    color: rgb(27, 209, 233);
    padding: 0px 15px;
    margin: 0px !important;
}

.spacing {
    padding: 0px 15px;    
}

