.headerCom {
    height: 10vh;
    border:gray;
}

.searchbar {
    float: right;
}

.search {
    border-radius: 30px;
    height: 35px;
    width: 250px;
    border-style: hidden;
    padding: 0px 25px;
}

.logout {
    padding: 10px;
}

.logoImage {
    height: 50px;
    width: 50px;
    margin: 5px;
}